body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #004d40; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; 
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%; 
}

h1 {
    color: #00796b; 
    font-size: 2.5em;
}

.countdown {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 20px 0;
}

.box {
    background-color: #ffffff;
    border: 2px solid #00796b; 
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 100px; 
    max-width: 120px;
}

.label {
    font-size: 14px;
    color: #555; 
}

.total-seconds {
    font-size: 20px;
    margin-top: 20px;
    color: #00796b;
}

.exam-days {
    margin-top: 20px;
}

.exam-days h2 {
    font-size: 24px;
    color: #d32f2f; 
}

.exam-days p {
    font-size: 16px;
}

.exam-days a {
    color: #00796b; 
    text-decoration: none;
}

.exam-days a:hover {
    text-decoration: underline; 
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em; 
    }

    .box {
        width: 60px; 
    }

    .total-seconds {
        font-size: 18px; 
    }

    .exam-days h2 {
        font-size: 20px; 
    }

    .exam-days p {
        font-size: 14px; 
    }
}